.knob {
  width: 100px;
  height: 100px;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .wrapper {
    .slider {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: red;
      left: 50%;
      top: 50%;
      margin-left: -5px;
      margin-top: -5px;
      border-radius: 100%;
    }
  }
}
